*{
    margin: 0;
    pad: 0;
}

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.navbar{
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left{
    display: block;
}
.nav-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    display: flex;
    list-style: none;
    gap: 32px;
    font-size: 16px;
    color: black;
    align-items: center;
}
.btn1{
    background-color: #30B868;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    align-items: center;
    display: flex;
    cursor: pointer;
    color: white;
    font-weight: 700;
    margin: 0 auto;
    align-items: center;
    gap: 10px;
}
.btn1:hover{
    background-color: black;
    color: white;
}
.btn2{
    background-color: #30B868;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    align-items: center;
    display: flex;
    cursor: pointer;
    color: white;
    font-weight: 700;
    gap: 10px;
}
.btn2 img{
    max-width: 20px;
    max-height: 20px;
    margin: 1px;
}
.btn2:hover{
    background-color: rgba(122, 0, 0, 0.959);
    color: white;
}
.hero-section{
    background-image: url("./icon/hero-bg.png");
    height: 675px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center;
    width: 100%;
}
.hero-caontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.one-list{
    list-style-type: none;
    padding: 8px 12px;
    background: white;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 16px;
    border: none;
    border-radius: 100px;
    font-size: 16px;
    color: #30B868;
    font-weight:700;
}
.one-list li{
     position: relative;
     padding-left: 30px;
}
.one-list li::before{
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  width: 20px;
  height: 20px;
  border: none;
  border-radius: 40px;

  
  background:
    radial-gradient(circle, #30B868 35%, transparent 36%),   
    radial-gradient(circle, #30b8697e 60%, transparent 61%),   
    radial-gradient(circle, #30b8692f 100%, transparent 101%);
}

.hero-content h1{
    font-size: 72px;
    font-weight: bold;
    color: white;
    margin-bottom: 16px;
}
.text-color{
    color: #30B868;
}
.hero-content p{
    color: #FFFFFF;
    font-size: 18px;
    margin-bottom: 32px;
}
.button-section{
    display: flex;
    gap: 16px;
    justify-content: center;
}
.btn-transparent{
    padding: 16px;
    border: 1px solid white;
    background-color: #30b86900;
    color: white;
    font-size: 16px;
    text-align: left;
    border-radius: 4px;
    font-weight: 700;
    gap: 10px;
}
.btn-transparent:hover{
    background: #30B868;   
    color: black; 
    cursor: pointer;
}
.card-section{
    display: flex;
    justify-content: center;
    text-align: center;
}
.card-header{
    margin: 0 120px 45px 100px;
    padding-top: 100px;
    
}
.card-header h2{
    font-size: 48px;
    font-weight: bold;
}
.card-header p{
    font-size: 16px;
    color: #627382;
}
.card-content{
    display: flex;
    gap: 25px;
    margin: 45px 120px 0px 120px;
}
.card-view{
    padding: 70px 25px 20px 25px;
    box-shadow: 0 2px 50px 0 #0000001a;
    border: none;
    border-radius: 8px;
    
}
.card-view h3{
    color: #001931;
    font-size: 24px;
    margin-bottom: 16px;
}
.card-view p{
    color: #627382;
    font-size: 16px;
    margin-bottom: 20px;
}
.card-view img{
    background-color: #F95555;
    padding: 10px;
    border-radius: 100px;
}
.list-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px;
    gap: 60px;
}
.knowledge-image{
    max-width: 600px;
    max-height: 600px;
}
.list-container p{
    color: #30B868;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 16px;
}
.list-container h3{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
}
.list-container h5{
    color: #627382;
    font-weight: 600;
    margin-bottom: 40px;
}
.list-container ul {
    padding-left: 0;
    margin-left: 0;
    list-style: inside;
    list-style-image: url("./icon/CheckCircle.png");
    font-weight: 600;
    font-size: 16px;
    color: #001931f6;
}
.middle-banner-section{
    padding: 2px 120px 120px 120px;
}
.middle-container{
    padding: 80px 40px;
    text-align: center;
    background-color: #F7F6F2;
    border: none;
    border-radius: 12px;    
}
.middle-container h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
}
.middle-container p{
    font-size: 16px;
    color: #627382;
    margin-bottom: 24px;
}
.middle-container button{
    margin-bottom: 16px;
}
.footer-section{
    padding: 120px 120px 30px 120px;
    background-color: #001931;
    color: white;
}
.first-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 180px;
}
.first-container img{
    max-width: 140px;
    max-height: 60px;
}
.social-header{
    font-size: 20px;
    margin-bottom: 16px;
}
.last-container{
    padding: 10px;
    text-align: center;
}
.social-logo{
    display: flex;
    gap: 16px;
}
.social-logo img{
    background-color: white;
    padding: 2px;
    border: none;
    border-radius: 20px;
}