*{
    margin: 0;
    pad: 0;
}

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.navbar{
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left{
    display: block;
}
.nav-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    display: flex;
    list-style: none;
    gap: 32px;
    font-size: 16px;
    color: black;
    align-items: center;
}
.btn1{
    background-color: #30B868;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    align-items: center;
    display: flex;
    cursor: pointer;
    color: white;
    font-weight: 700;
}
.btn1:hover{
    background-color: black;
    color: white;
}
.hero-section{
    background-image: url("./icon/hero-bg.png");
    height: 675px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center;
    width: 100%;
}
.hero-caontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.one-list{
    list-style-type: none;
    padding: 8px 12px;
    background: white;
    max-width: 230px;
    margin: 0 auto;
    margin-bottom: 16px;
    border: none;
    border-radius: 100px;
    font-size: 16px;
    color: #30B868;
    font-weight:700;
}
/* .one-list li::marker{ //------------------------------------------
    content: "0";
}---------------------------- */

.hero-content h1{
    font-size: 72px;
    font-weight: bold;
    color: white;
    margin-bottom: 16px;
}
.text-color{
    color: #30B868;
}
.hero-content p{
    color: #FFFFFF;
    font-size: 18px;
    margin-bottom: 32px;
}
.button-section{
    display: flex;
    gap: 16px;
    justify-content: center;
}
.btn-transparent{
    padding: 16px;
    border: 1px solid white;
    background-color: #30b86900;
    color: white;
    font-size: 16px;
    text-align: left;
    border-radius: 4px;
    font-weight: 700;
}
.btn-transparent:hover{
    background: #30B868;   
    color: black; 
}
.card-section{
    display: flex;
    justify-content: center;
    text-align: center;
}
.card-header{
    margin: 0 120px 45px 120px;
    padding-top: 100px;
    
    
}
.card-header h2{
    font-size: 48px;
    font-weight: bold;
}
.card-header p{
    font-size: 16px;
    color: #627382;
}
.card-content{
    display: flex;
    gap: 25px;
    margin: 45px 120px;
}
.card-view{
    padding: 70px 25px 20px 25px;
    box-shadow: 0 2px 50px 0 #00000015;
    border: none;
    border-radius: 8px;
    
}
.card-view img{
    background-color: #F95555;
    padding: 10px;
    border-radius: 100px;
}